body{
    font-family: Open Sans;
}
.conteiner{
    width: 1280px;
}
.header-conteiner{
    padding-top: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
 .main-navigatoin{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.main-menu{
display: flex;
align-items: center;
list-style-type: none;
}
.main-menu-item{
    margin-left: 44px;
}
.main-menu-item:nth-child(1){
    margin-left: 0px;
}
.main-menu-link{
    color: #726E8D;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    align-items: center;
}
.page-title{
    color: #22202E;
    font-size: 24px;
    align-items: center;
    text-decoration: none;
 }
 .background-conteiner{ 
    display: flex;
    justify-content: flex-end;
}
.icon-links {
    display: flex;
    align-items: center;
}
.icon-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.icon-link : :nth-child(3){
    margin-right: 0px;
}
.icon {
    display: block;
    width: 16px;
    height: 16px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-right: 16px;
}
.icon-search {
    background-image: url(../img/search.svg); 
    display: block;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.icon-cart {
    background-image: url(../img/shopping--cart.svg);
    display: block;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.icon-user {
    background-image: url(../img/user--avatar.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    width: 16px;
    height: 16px;
}
.line-header{
    border-top-color: #e5e5e5;
}
.subtitle-page{
    text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 140%;
padding-top: 80px;
}
.filters-conteiner{
    display: flex;
    width: 570px;
    height: 50px;
    margin-top: 25px;
    margin-left: 80px;
}
.page-filters{
    display: flex;
    justify-content: space-between;
}
.filters{
     padding-left: 24px;
     padding-top:12px ;
     padding: 8px 16px;
     border: 1px solid transparent;
     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
     cursor: pointer;
     background: none;

}
.filters-item{
}
.data-filter{
width: 245px;
height: 50px;
display: flex;
margin-left: 420px;

}
.sorting{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-right: 16px;
text-align: center;
}
.products{
    padding-left: 0;
}
.product-list{
    display: grid;
list-style-type: none;
width: 100%;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
padding-left: 0;
}
.product-img{
	display: block;
	width: 100%;

}
.product-item-name{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}
.product-link{
    color: #2A254B;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.price-link{
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #2A254B;
}
.price-product{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-button{
    margin-top: 60px ;
    background-color: #F9F9F9;
    color: #2A254B;
font-size: 16px;
font-style: normal;
cursor: pointer;
font-weight: 400;
line-height: 150%;
border: none;
padding: 16px 32px;
}
.sign-up-content{
    display: flex;
    padding-top:50px ;
}
.conteiner-img{
    width: 50%;
    height: 50%;
    margin: 0px;
    padding: 0px;
}
.background-img{
    background-image: url(../img/join-background.jpg);
    display: block;
    width: 100%;
    height: 521px;
}
.conteiner-text{
    width: 50%;
    height: 50%;
    margin-left: 49px;

}
.subtitle-img{
margin-top: 71px;
text-align: left;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 21px;
}
.text-img{
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 0;
line-height: 150%;
}
.sign-up-button{
    padding: 16px 32px;
    background-color: #2A254B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 216px;
    margin-left: 40px;
    cursor: pointer;
    border: none;
}
.additional-information{
    background-color: #2A254B;
}
.conteiner-information{
    margin-left: 0; 
    display: flex;
    padding-top: 58px;
    justify-content: space-between;
}
.information{
    padding-left: 0;
    margin-top: 0; 
}
.information-item{
 list-style-type: none;
 margin-bottom: 12px;
}
.information-link{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px;
} 
.information-link-1{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.conteiner-bottom{
    display: flex;
    align-items: center;
justify-content: space-between;
}
.line{
    color: #4E4D93;
}
.copyright{
    color: #fff;
    margin: 0;
    padding-top: 24px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 25px;

}
.social-network{
display: flex;
}
.social-network-link{
margin: 12px;
}
.linkedin{
background-image: url(../img/logo--linkedin.svg);
width: 24px;
height: 24px;
background-repeat: no-repeat;
}
.facebook{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/logo--facebook.svg);
}
.instagram{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/logo--instagram.svg);
}
.skype{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/logo--skype.svg)
}
.twitter{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/logo--twitter.svg)
}
.pinterest{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/logo--pinterest.svg)
}
.bottom-section{
    margin-top: 30px;
}